<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smalleats.repository.admin.AdminUserManageDAOImpl">

    <resultMap id="userMap" type="com.smalleats.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="profileImg" column="profile_img"/>
        <collection property="authorities" javaType="list" resultMap="authorityMap"/>
    </resultMap>

    <resultMap id="partnerUserMap" type="com.smalleats.entity.PartnerUser">
        <id property="partnerId" column="partner_id"/>
        <result property="partnerUserName" column="partner_username"/>
        <result property="partnerPassword" column="partner_user_password"/>
        <result property="partnerUserEmail" column="partner_user_email"/>
        <result property="partnerPhoneNumber" column="partner_phone_number"/>
        <result property="partnerBusinessName" column="partner_business_name"/>
        <result property="partnerBusinessNumber" column="partner_business_number"/>
        <association property="authorities" javaType="list" resultMap="authorityMap"/>
        <association property="authority" resultMap="authorityMap"/>
        <association property="pendingFood" resultMap="pendingFoodMap"/>
        <association property="role" resultMap="roleMap"/>
    </resultMap>

    <resultMap type="com.smalleats.entity.Authority" id="authorityMap">
        <id property="authorityId" column="authority_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <association property="role" resultMap="roleMap" />
        <association property="user" resultMap="userMap"/>
        <association property="partnerUser" resultMap="partnerUserMap"/>
    </resultMap>

    <resultMap type="com.smalleats.entity.Role" id="roleMap">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <resultMap id="pendingFoodMap" type="com.smalleats.entity.PendingFood">
        <id property="pendingFoodId" column="pending_food_id"/>
        <result property="foodId" column="food_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="foodName" column="food_name"/>
        <result property="pendingStatus" column="pending_status"/>
    </resultMap>

    <resultMap id="userAddressMap" type="com.smalleats.entity.UserAddress">
        <id property="userAddressId" column="user_address_id"/>
        <result property="userId" column="user_id"/>
        <result property="userRoadAddress" column="user_road_address"/>
        <result property="userDetailAddress" column="user_detail_address"/>
        <result property="userZoneCode" column="user_zonecode"/>
        <result property="userAddressCategory" column="user_address_category"/>
        <association property="user" resultMap="userMap"/>
    </resultMap>

    <select id="adminUserSelect" resultMap="authorityMap">
        select
            ut.user_id,
            ut.username,
            ut.email,
            ut.phone_number,
            rt.role_name

        from
            authority_tb aut
                left join smalleatsDB.user_tb ut on ut.user_id = aut.user_id
                left join smalleatsDB.role_tb rt on rt.role_id = aut.role_id
        where
            ut.username is not null;
    </select>

    <select id="adminPartnerUserSelect" resultMap="partnerUserMap">
        select
            pst.partner_id,
            pst.partner_username,
            pst.partner_user_email,
            pst.partner_phone_number,
            pst.partner_business_name,
            pft.partner_id,
            pft.food_name,
            pft.pending_status,
            rt.role_name
        from
            partner_user_tb pst
                left join smalleatsDB.pending_food_tb pft on pst.partner_id = pft.partner_id
                left join smalleatsDB.authority_tb aut on pst.partner_id = aut.partner_id
                left join smalleatsDB.role_tb rt on aut.role_id = rt.role_id;
    </select>

    <select id="getUserDetail" resultType="com.smalleats.entity.User">
        select
            username,
            email,
            phone_number,
            profile_img
        from user_tb
        where
            user_id = #{userId}
    </select>

    <select id="getUserAddressList" resultType="com.smalleats.entity.UserAddress">
        select
            user_road_address,
            user_detail_address,
            user_zonecode
        from user_address_tb
        where
            user_id = #{userId}
    </select>
</mapper>