<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="AdminFoodManageDAOImpl">

    <resultMap id="pendingFoodMap" type="PendingFood">
        <id property="pendingFoodId" column="pending_food_id"/>
        <result property="foodId" column="food_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodOpen" column="food_open"/>
        <result property="foodClose" column="food_close"/>
        <result property="foodMin" column="food_min"/>
        <result property="foodDeliveryPrice" column="food_delivery_price"/>
        <result property="foodAddressSido" column="food_address_sido"/>
        <result property="foodRoadAddress" column="food_road_address"/>
        <result property="foodDetailAddress" column="food_detail_address"/>
        <result property="foodZoneCode" column="food_zonecode"/>
        <result property="pendingStatus" column="pending_status"/>
        <association property="category" resultMap="categoryMap"/>
        <association property="partnerUser" resultMap="partnerUserMap"/>
    </resultMap>

    <resultMap id="categoryMap" type="Category">
        <id property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <resultMap id="partnerUserMap" type="PartnerUser">
        <id property="partnerId" column="partner_id"/>
        <result property="partnerUserName" column="partner_username"/>
        <result property="partnerPhoneNumber" column="partner_phone_number"/>
    </resultMap>

    <resultMap id="foodMenuMap" type="FoodMenu">
        <id property="foodMenuId" column="food_menu_id"/>
        <result property="foodId" column="food_id"/>
        <result property="foodMenuName" column="food_menu_name"/>
        <result property="foodMenuImg" column="food_menu_img"/>
        <result property="foodMenuPrice" column="food_menu_price"/>
    </resultMap>

    <resultMap id="foodDeliveryAreaMap" type="FoodDeliveryArea">
        <id property="foodDeliveryId" column="food_delivery_id"/>
        <result property="foodId" column="food_id"/>
        <result property="foodDeliveryArea" column="food_delivery_area"/>
    </resultMap>


    <select id="PendingFoods" resultMap="pendingFoodMap">
        select
            pending_food_id,
            food_id,
            food_name,
            food_address_sido,
            food_road_address,
            food_detail_address,
            food_open,
            food_close,
            pending_status
        from
            pending_food_tb
        where
            pending_status = #{pendingStatus};
    </select>

    <select id="findByCategoryName" resultMap="categoryMap">
        select
            category_name
        from category_tb
        where
            category_name = #{categoryName};
    </select>

    <select id="getPendingFoodDetail" resultMap="pendingFoodMap">
        select
            pft.food_name,
            pft.food_address_sido,
            pft.food_road_address,
            pft.food_detail_address,
            pft.food_zonecode,
            pft.food_open,
            pft.food_close,
            pft.food_min,
            pft.food_delivery_price,
            pft.pending_status,
            ct.category_name,
            put.partner_username,
            put.partner_phone_number
        from
            pending_food_tb pft
                left join smalleatsDB.partner_user_tb put on pft.partner_id = put.partner_id
                left join smalleatsDB.category_tb ct on pft.category_id = ct.category_id
        where
            pft.food_id = #{foodId};
    </select>

    <select id="getPendingFoodMenuList" resultMap="foodMenuMap">
        select
            food_id,
            food_menu_name,
            food_menu_img,
            food_menu_price
        from food_menu_tb
        where
            food_id = #{foodId}
    </select>

    <select id="getFoodDeliveryAreaList" resultMap="foodDeliveryAreaMap">
        select
            food_id,
            food_delivery_area
        from food_delivery_tb
        where
            food_id = #{foodId};
    </select>

    <insert id="adminFoodInsert">
        insert into food_tb
        select
            food_id,
            category_id,
            food_name,
            food_img,
            food_open,
            food_close,
            food_min,
            food_delivery_price,
            food_address_sido,
            food_road_address,
            food_detail_address,
            food_zonecode,
            food_address_sigungu
        from pending_food_tb
        where pending_food_id = #{foodId}
    </insert>
    <update id="pendingStatusUpdate">
        update pending_food_tb
        set pending_status = 'APPROVED'
        where pending_food_id = #{foodId}
    </update>

    <insert id="categoryInsert" parameterType="Category">
        insert into category_tb
        (category_id, category_name)
        values (0,#{categoryName})
    </insert>

</mapper>