<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="OrderDAOImpl">

    <insert id="orderInsert" parameterType="Order"
            useGeneratedKeys="true"
            keyProperty="orderId">
        insert into order_tb
        (order_id,food_id, user_id, order_req_time, order_delivery_day, user_road_address, user_detail_address, user_zonecode)
        values (0,#{foodId},#{userId},#{orderReqTime},#{orderDeliveryDay},#{orderRoadAddress},#{orderDetailAddress},#{orderZoneCode})
    </insert>

    <insert id="orderMenuInsert" parameterType="OrderMenu">
        insert into order_menu_tb
        (order_id, order_menu_info)
        values (#{orderId},#{menuInfo})
    </insert>

    <select id="findByDeliveryArea" resultType="FoodDeliveryArea">
        select
            food_id,
            food_delivery_area
        from food_delivery_tb
        where
            food_id = #{foodId} and food_delivery_area = #{SiGunGu};
    </select>
</mapper>