<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="OrderDAOImpl">

    <resultMap id="paymentMap" type="Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="countDay" column="count_day"/>
        <association property="order" resultMap="orderMap"/>
        <association property="foodProduct" resultMap="foodMap"/>
    </resultMap>

    <resultMap id="orderMap" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="orderDeliveryDay" column="order_delivery_day"/>
    </resultMap>
    <resultMap id="foodMap" type="FoodProduct">
        <id property="foodId" column="food_id"/>
        <result property="foodName" column="food_name"/>
    </resultMap>

    <resultMap id="foodDeliveryMap" type="FoodDeliveryArea">
        <id property="foodDeliveryId" column="food_delivery_id"/>
        <result property="foodDeliveryArea" column="food_delivery_area"/>
    </resultMap>

    <resultMap id="orderMenuMap" type="OrderMenu">
        <id property="orderId" column="order_id"/>
        <result property="menuInfo" column="order_menu_info"/>
    </resultMap>

    <insert id="orderInsert" parameterType="Order"
            useGeneratedKeys="true"
            keyProperty="orderId">
        insert into order_tb
        (order_id,food_id, user_id, order_req_time, order_delivery_day, user_road_address, user_detail_address, user_zonecode)
        values (0,#{foodId},#{userId},#{orderReqTime},#{orderDeliveryDay},#{orderRoadAddress},#{orderDetailAddress},#{orderZoneCode})
    </insert>

    <insert id="orderMenuInsert" parameterType="OrderMenu">
        insert into order_menu_tb
        (order_id, order_menu_info)
        values (#{orderId},#{menuInfo})
    </insert>

    <select id="findByDeliveryArea" resultMap="foodDeliveryMap">
        select
            food_id,
            food_delivery_area
        from food_delivery_tb
        where
            food_id = #{foodId} and food_delivery_area = #{SiGunGu};
    </select>

    <select id="findDeliveryDateCountById" resultMap="paymentMap">
        select
            ft.food_name,
            ot.order_delivery_day,
            count(ot.order_delivery_day) as count_day
        from payment_tb pt
                 left outer join smalleatsDB.order_tb ot on pt.order_id = ot.order_id
                 left outer join smalleatsDB.food_tb ft on pt.food_id = ft.food_id
        where
            pt.food_id = #{foodId}
        group by
            ot.order_delivery_day;
    </select>

    <select id="findDeliveryDateCountByIdAndDate" parameterType="map" resultMap="paymentMap">
        select
            ft.food_name,
            ot.order_delivery_day,
            count(ot.order_delivery_day) as count_day
        from payment_tb pt
                 left outer join smalleatsDB.order_tb ot on pt.order_id = ot.order_id
                 left outer join smalleatsDB.food_tb ft on pt.food_id = ft.food_id
        where
            pt.food_id = #{foodId} and ot.order_delivery_day = #{orderDeliveryDay}
        group by
            ot.order_delivery_day;
    </select>

    <select id="getOrderMenu" resultMap="orderMenuMap">
        select
            order_menu_info
        from order_menu_tb
        where order_id = #{orderId}
    </select>
</mapper>