<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.smalleats.repository.partner.PartnerFoodDAOImpl">

    <resultMap id="pendingFoodMap" type="com.smalleats.entity.PendingFood">
        <id property="pendingFoodId" column="pending_food_id"/>
        <result property="foodId" column="food_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodOpen" column="food_open"/>
        <result property="foodClose" column="food_close"/>
        <result property="foodMin" column="food_min"/>
        <result property="foodDeliveryPrice" column="food_delivery_price"/>
        <result property="foodAddressSido" column="food_address_sido"/>
        <result property="foodRoadAddress" column="food_road_address"/>
        <result property="foodDetailAddress" column="food_detail_address"/>
        <result property="foodZoneCode" column="food_zonecode"/>
        <association property="category" resultMap="categoryMap"/>
    </resultMap>

    <resultMap id="categoryMap" type="com.smalleats.entity.Category">
        <id property="categoryId" column="coategory_id"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <resultMap id="deliveryAreaMap" type="com.smalleats.entity.FoodDeliveryArea">
        <id property="foodDeliveryId" column="food_delivery_id"/>
        <result property="foodId" column="food_id"/>
        <result property="foodDeliveryArea" column="food_delivery_area"/>
    </resultMap>

    <select id="pendingFoods" resultMap="pendingFoodMap">
        select
            pending_food_id,
            food_name
        from
            pending_food_tb
    </select>

    <select id="getPendingFood" resultMap="pendingFoodMap">
        select
            food_id,
            category_id,
            food_name,
            food_open,
            food_close,
            food_min,
            food_delivery_price,
            food_address_sido,
            food_road_address,
            food_zonecode
        from pending_food_tb
        where partner_id = #{partnerId}
    </select>

    <select id="duplicatedArea" resultMap="deliveryAreaMap">
        select
            food_id,
            food_delivery_area
        from food_delivery_tb
        where
            food_id = #{foodId} and food_delivery_area = #{foodDeliveryArea}
    </select>

    <insert id="pendingFoodInsert" parameterType="com.smalleats.entity.PendingFood"
    useGeneratedKeys="true" keyProperty="pendingFoodId"
    >
        insert into pending_food_tb
        (pending_food_id, food_id, category_id, food_name, food_img, food_open, food_close, food_min,
         food_delivery_price, food_address_sido, food_road_address, food_detail_address, food_zonecode,partner_id)
        values (0,#{foodId},0,#{foodName},#{foodImg},#{foodOpen},#{foodClose},#{foodMin}
               ,#{foodDeliveryPrice},#{foodAddressSido},#{foodRoadAddress}
               ,#{foodDetailAddress},#{foodZoneCode},#{partnerId})
    </insert>

    <insert id="foodMenuInsert" parameterType="com.smalleats.entity.FoodMenu">
        insert into food_menu_tb
        (food_menu_id,food_id, food_menu_name, food_menu_img, food_menu_price)
        values (0,#{foodId},#{foodMenuName},#{foodMenuImg},#{foodMenuPrice})
    </insert>

    <insert id="foodDeliveryAreaInsert" parameterType="com.smalleats.entity.FoodDeliveryArea">
        insert into food_delivery_tb
        (food_delivery_id, food_id, food_delivery_area)
        values (0,#{foodId},#{foodDeliveryArea})
    </insert>
</mapper>