<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="PartnerFoodDAOImpl">

    <resultMap id="paymentMap" type="Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="orderId" column="order_id"/>
        <result property="foodId" column="food_id"/>
        <result property="paymentDay" column="payment_day"/>
        <result property="paymentTotalPrice" column="payment_total_price"/>
        <result property="paymentOrderState" column="payment_order_state"/>

        <association property="order" resultMap="orderMap"/>
        <association property="foodProduct" resultMap="foodMap"/>
    </resultMap>

    <resultMap id="orderMap" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderReqTime" column="order_req_time"/>
        <result property="orderDeliveryDay" column="order_delivery_day"/>
        <result property="orderRoadAddress" column="user_road_address"/>
        <result property="orderDetailAddress" column="user_detail_address"/>
        <result property="orderZoneCode" column="user_zonecode"/>
        <association property="user" resultMap="userMap"/>
        <association property="orderMenu" resultMap="orderMenuMap"/>
    </resultMap>

    <resultMap id="orderMenuMap" type="OrderMenu">
        <result property="orderId" column="order_id"/>
        <result property="menuInfo" column="order_menu_info"/>
        <association property="order" resultMap="orderMap"/>
    </resultMap>

    <resultMap id="foodMap" type="FoodProduct">
        <id property="foodId" column="food_id"/>
        <result property="foodName" column="food_name"/>
    </resultMap>

    <resultMap id="userMap" type="User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>

    <select id="partnerOrderList" resultMap="paymentMap">
        select
            pb.order_id,
            pb.food_id,
            pb.payment_order_state,
            pb.payment_total_price,
            pb.payment_day,
            ot.user_id,
            ot.order_req_time,
            ot.order_delivery_day,
            ot.user_road_address,
            ot.user_detail_address,
            ot.user_zonecode,
            ut.username,
            ut.phone_number,
            omt.order_menu_info
        from
            payment_tb pb
                left outer join smalleatsDB.order_tb ot on pb.order_id = ot.order_id
                left outer join smalleatsDB.order_menu_tb omt on ot.order_id = omt.order_id
                left outer join smalleatsDB.user_tb ut on ot.user_id = ut.user_id
        where
            pb.food_id = #{foodId};
    </select>

    <update id="paymentOrderStateChange" parameterType="Payment">
        update payment_tb
        <trim prefix="set" suffixOverrides=",">
            <if test="paymentOrderState == '주문접수대기중'">
                payment_order_state = '주문접수',
            </if>
            <if test="paymentOrderState == '주문접수'">
                payment_order_state = '배달중',
            </if>
            <if test="paymentOrderState == '배달중'">
                payment_order_state = '배달완료',
            </if>
        </trim>
        where
        order_id = #{orderId};
    </update>
</mapper>