<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="PaymentDAOImpl">
    <resultMap id="orderMap" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="foodId" column="food_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderReqTime" column="order_req_time"/>
        <result property="orderDeliveryDay" column="order_delivery_day"/>
        <association property="foodProduct" resultMap="foodMap"/>
    </resultMap>
    <resultMap id="foodMap" type="FoodProduct">
        <id property="foodId" column="food_id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodImg" column="food_img"/>
        <result property="foodOpen" column="food_open"/>
        <result property="foodClose" column="food_close"/>
        <result property="foodMin" column="food_min"/>
        <result property="foodDeliveryPrice" column="food_delivery_price"/>
    </resultMap>

    <resultMap id="orderMenuMap" type="OrderMenu">
        <result property="orderId" column="order_id"/>
        <result property="menuInfo" column="order_menu_info"/>
        <association property="order" resultMap="orderMap"/>
    </resultMap>

    <resultMap id="foodMenuMap" type="FoodMenu">
        <id property="foodMenuId" column="food_menu_id"/>
        <result property="foodMenuName" column="food_menu_name"/>
        <result property="foodMenuPrice" column="food_menu_price"/>
    </resultMap>

    <select id="getOrder" resultMap="orderMap">
        SELECT
            ob.order_id,
            ob.food_id,
            ob.user_id,
            ob.order_req_time,
            ob.order_delivery_day,
            fb.food_name,
            fb.food_delivery_price
        from
            order_tb ob
                left outer join food_tb fb on(fb.food_id = ob.food_id)
        where
            ob.order_id = #{orderId}
    </select>

    <select id="getOrderMenuList" resultMap="orderMenuMap">
        select
            order_menu_info
        from
            order_tb ot
                left join smalleatsDB.order_menu_tb omt on ot.order_id = omt.order_id
        where
            ot.order_id = #{order_Id};
    </select>

    <insert id="paid" parameterType="Payment">
        insert into payment_tb
        (payment_id, order_id, food_id, payment_total_price,payment_delivery_price,payment_menu_total_price, payment_order_state, payment_day)
        values (0,#{orderId},#{foodId},#{paymentTotalPrice},#{paymentDeliveryPrice},#{paymentMenuTotalPrice},'주문접수대기중',date_format(now(), '%Y%m%d%H%i%s'));
    </insert>

    <delete id="cancel" >
        delete from order_tb
        where order_id = #{orderId};
    </delete>

    <select id="getDeliveryArea" parameterType="FoodDeliveryArea">
        select
            food_delivery_area
        from order_tb ob
                 left join smalleatsDB.food_tb ft on ob.food_id = ft.food_id
                 left join smalleatsDB.food_delivery_tb fdt on ft.food_id = fdt.food_id
        where
            ob.order_id = #{orderId}
    </select>
</mapper>