<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.smalleats.repository.UserDAO">

    <resultMap id="userMap" type="com.smalleats.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phoneNumber" column="phone_number"/>
        <collection property="authorities" javaType="list" resultMap="authorityMap"/>
    </resultMap>
    <resultMap type="com.smalleats.entity.Authority" id="authorityMap">
        <id property="authorityId" column="authority_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <association property="role" resultMap="roleMap" />
    </resultMap>

    <resultMap type="com.smalleats.entity.Role" id="roleMap">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <select id="findUserByEmail" resultMap="userMap">
        select
            ub.user_id,
            ub.email,
            ub.password,
            ub.username,
            ub.phone_number,

            ab.authority_id,
            ab.user_id,
            ab.role_id,

            rb.role_id,
            rb.role_name

        from
            user_tb ub
                left outer join authority_tb ab on(ab.user_id = ub.user_id)
                left outer join role_tb rb on(rb.role_id = ab.role_id)
        where
            ub.email = #{email}
    </select>
    <insert id="saveUser" parameterType="com.smalleats.entity.User"
            useGeneratedKeys="true"
            keyProperty="userId">
        insert into user_tb (user_id, username, email, password, phone_number, profile_img, provider)
        values (0, #{userName},#{email},#{password},#{phoneNumber},#{profileImg},#{provider})
    </insert>
    <insert id="addAuthority" parameterType="com.smalleats.entity.Authority">
        insert into authority_tb (authority_id, user_id, role_id)
        values (0,#{userId},#{roleId})
    </insert>
    <update id="passwordUpdate">
        update user_tb
        set password = #{changePassword}
        where
            user_id = #{userId}
    </update>

</mapper>