<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.smalleats.repository.PaymentDAO">
    <resultMap id="orderMap" type="com.smalleats.entity.Order">
        <id property="orderId" column="order_id"/>
        <result property="foodId" column="food_id"/>
        <result property="orderReqTime" column="order_req_time"/>
        <result property="orderDeliveryDay" column="order_delivery_day"/>
        <association property="food" resultMap="foodMap"/>
    </resultMap>
    <resultMap id="foodMap" type="com.smalleats.entity.FoodProduct">
        <id property="foodId" column="food_id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodImg" column="food_img"/>
        <result property="foodOpen" column="food_open"/>
        <result property="foodClose" column="food_close"/>
        <result property="foodMin" column="food_min"/>
        <result property="foodDeliveryPrice" column="food_delivery_price"/>
    </resultMap>

    <resultMap id="orderMenuMap" type="com.smalleats.entity.OrderMenu">
        <id property="orderMenuId" column="order_menu_id"/>
        <result property="orderId" column="order_id"/>
        <result property="foodMenuId" column="menu_id"/>
        <result property="menuNumbers" column="order_menu_numbers"/>
        <association property="foodMenu" resultMap="foodMenuMap"/>
    </resultMap>

    <resultMap id="foodMenuMap" type="com.smalleats.entity.FoodMenu">
        <id property="foodMenuId" column="food_menu_id"/>
        <result property="foodMenuName" column="food_menu_name"/>
        <result property="foodMenuPrice" column="food_menu_price"/>
    </resultMap>

    <select id="getOrder" resultMap="orderMap">
        SELECT
            ob.order_id,
            ob.food_id,
            ob.order_req_time,
            ob.order_delivery_day,
            fb.food_name,
            fb.food_delivery_price
        from
            order_tb ob
                left outer join food_tb fb on(fb.food_id = ob.food_id)
        where
            ob.order_id = #{orderId}
    </select>

    <select id="getOrderMenuList" resultMap="orderMenuMap">
        select
            omb.order_menu_numbers,
            fmb.food_menu_name,
            fmb.food_menu_price
        from
            order_menu_tb omb
                left outer join food_menu_tb fmb on(fmb.food_menu_id = omb.menu_id)
        where
            omb.order_id = #{orderId}
    </select>

    <insert id="paid" parameterType="com.smalleats.entity.Payment">
        insert into payment_tb
        (payment_id, order_id, food_id, payment_price) VALUES (0,#{orderId},#{foodId},#{paymentPrice})
    </insert>
</mapper>