.mypage-sidebar{
    margin: 3px;
    padding: 3px;
    width: 100%;
    height: 100%;
   border: 1px solid #dbdbdb;
}

.mypage-content{
    margin:3px;
    padding: 3px;
    width: 90%;
    height: 80%;
}
.hidden-mypage{
    display: none;
}

.order-list{
    margin:3px;
    padding: 3px;
    width: 90%;
    height: 80%;
}
.password-change{
    margin:3px;
    padding: 3px;
    width: 90%;
    height: 80%;
}
.address-content{
    margin:3px;
    padding: 3px;
    width: 90%;
    height: 80%;
}

.mypage-sidebar-list li{
    display: flex;
    align-items: center;

    border-bottom: 1px solid #dbdbdb;
    margin: 0;
    padding: 3px;
    height: 40px;
    background-color: #3F9FF3;

    font-size: 16px;
    color: #FFF;
}
.userinfo-btn{
    cursor: pointer;
}
.order-list-btn{
    cursor: pointer;
}
.password-list-btn{
    cursor: pointer;
}
.address-content-btn{
    cursor: pointer;
}

.fail-password-message{
    color: red;
}